<h1>Welcome, <%= @user.name %></h1>

<h2><%= @user.name %> Profile</h2>

<ul>
  <li>
    <p>Address: <%= @user.address %></p>
  </li>
  <li>
    <p>City: <%= @user.city %></p>
  </li>
  <li>
    <p>State: <%= @user.state %></p>
  </li>
  <li>
    <p>Zip Code: <%= @user.zip_code %></p>
  </li>
  <li>
    <p>Email: <%= @user.email %></p>
  </li>
  <li>
    <p><%= link_to "Edit Profile", '/profile/edit' %></p>
  </li>
 </ul>
