<nav class="nav-bar">
  <%= link_to 'Home', root_path %>
  <%= link_to 'Items', items_path %>
  <%= link_to 'Merchants', merchants_path %>
  <%= link_to 'Shopping Cart', cart_index_path %>
  <%= link_to 'Login', login_path %>
  <%= link_to 'Register', register_path %>
</nav>
