<h1>Profile Orders</h1>

<% @user.orders.each do |order| %>
<ul class="order-<%= order.id %>">
  <li>
    <%= link_to order.id, profile_order_path(order) %>
  </li>
  <li>
    Order Created: <%= order.created_at %>
  </li>
  <li>
    Order updated: <%= order.updated_at %>
  </li>
  <li>
    Total Items <%= order.items.count %>
  </li>
  <li>
    Total Cost <%= order.grand_total %>
  </li>
</ul>
