
<% @order_items.uniq.each do |item| %>

<ul class="item-<%= item.id %>">
  <li>
    <%= link_to item.name, item_path(item) %>
  </li>
  <li>
    <%= image_tag item.image_url %>
  </li>
  <li>
    <%= item.base_price %>
  </li>
  <li>
    <%= item.order_items.item_quantity %>
  </li>
  <% if item.quantity >= item.order_items.item_quantity && item.fulfilled? == false %>
  <li>
    <%= button_to "Fulfill Item", fullfill_item_path(item_id: item.id) %>
  </li>
  <% end %>
  <% if item.fulfilled? == true %>
  <li>
    <%= "Item fulfilled" %>
  </li>
  <% end %>
</ul>
<% end %>
