
<p><%= "Welcome, #{current_user.name}" %></p>

<h1><%= @user.name %> Profile</h1>

<h2><%= link_to "Upgrade to Merchant", admin_merchant_path(@user) %></h2>

<ul>
  <li>
    <p>Address: <%= @user.address %></p>
  </li>
  <li>
    <p>City: <%= @user.city %></p>
  </li>
  <li>
    <p>State: <%= @user.state %></p>
  </li>
  <li>
    <p>Zip Code: <%= @user.zip_code %></p>
  </li>
  <li>
    <p>Email: <%= @user.email %></p>
  </li>
 </ul>
